body {
  margin: 0 auto;
  background-image: url("images/sunray-mountains.jpg");
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  display: inline-block;
  margin: 1% 0 0 0;
}

a {
  text-decoration: none;
  color: black;
}

p {
  padding: 0 2%;
  line-height: 1.5em;
  font-size: 1.2em;
}
