header {
  text-align: center;
  border-radius: 15px;
  margin-top: 1%;
}

nav ul {
  display: none;
  padding: 0;
}

nav:hover ul {
  display: block;
  padding-bottom: 1%;
}

nav li {
  display: inline-block;
  border: 2px solid black;
  border-radius: 15px;
  padding: 1em;
  width: 70px;
  margin-right: 1%;
  margin-bottom: 2%;
}

.template {
  display: none;
}

#projects {
  border-radius: 15px;
}

@media only screen and (min-width: 440px) {
  nav ul {
    display: block;
    padding-bottom: 1%;
  }

  nav li {
    margin-bottom: 0;
  }

  .icon-menu {
    display: none;
  }

  main {
    margin: auto;
  }

  /*header {
    width: 1000px;
    margin: auto;
  }*/

  article {
    display: inline-block;
    width: 49%;
    vertical-align: top;
  }

  #projects {
    width: 1000px;
    margin: 2% auto;
    border-radius: 15px;
  }

  #about {
    width: 1000px;
    margin: 2% auto;
    border-radius: 15px;
  }
}
