header {
  text-align: center;
  border-bottom: 1px solid black;
  margin-top: 1%;
}

main {
  margin: 3% 3% 0 0;
}

nav ul {
  display: none;
}

.social-links:hover ul {
  display: block;
  padding: 0;
}

nav li {
  max-width: 100%;
}

@media only screen and (min-width: 440px) {
  nav ul {
    display: block;
    padding: 0;
  }

  .icon-menu {
    display: none;
  }
}

nav li {
  display: inline-block;
  border: 2px solid black;
  border-radius: 15px;
  padding: 1em;
  width: 60px;
  margin-right: 1%;
}
